@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Manrope', sans-serif;
}

.active {
   color: violet;
}
#job-details-bg{
    background-image: url('/public/images/bg1.png');
    background-position: bottom left;
    background-repeat: no-repeat;
}